
body{
  text-align: center;
  margin: 0;
}

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
margin:0;
}

p {
font-family: "Droid Serif", serif;
}

header{
  background-color: #F15B31;
  color:#FFFFFF;
  padding: 30px 20px;
}

nav{
  background-color: #00A6B3;
  color: #FFFFFF;
  padding: 20px 0;
}

a{
  margin:0 20px;
  border-bottom: 2px solid;
}

a:hover{
  border-color: white;
}

main{
  width:850px;
  margin: 35px auto;
}

img{
  margin:40px 8px 0;
}

footer{
  text-transform: uppercase;
  padding:0 20px;
  background-color:#0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.PageTittle{
  font-family: Raleway;
  color: #0D2C40;
  letter-spacing: 1PX;
  font-weight: 400;
  font-size: 45PX;
  text-transform: uppercase;
}

.orangeHeading{
  font-family: Raleway;
  color: #F15B31;
  letter-spacing: 1PX;
  font-weight: 600;
  font-size: 18PX;
  text-transform: uppercase;
}

.blackHeading{
  font-family: Raleway;
  color: #0D2C40;
  letter-spacing: 1PX;
  font-weight: 600;
  font-size: 20PX;
  text-transform: uppercase;
}

.body{
  font-family:"DROID SERIF";
  line-height: 26PX;
  font-size: 18PX;
}

.Copyright{
  font-family: "Raleway";
  float: left;
}

.message{
  font-family: "Raleway";
  float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
  color: #F15B31;
  font-weight: 700;
}

.box-1 {
    background-color: red;
    height: 100px;
    width: 300px;
}


.box-2 {
    background-color: green;
    height: 400px;
    width: 750px;
}

.box-3 {
    background-color: blue;
    height: 990px;
    width: 100px;
}
